<tr class="tr_<%= vendor.id %>">
    <td><%= vendor.email %></td>
    <td><%= vendor.mobile %></td>
    <td>
        <span class="vendor_seq_no"><%= vendor.seq_no.present? ? vendor.seq_no : 'Add Sequence no.' %></span>
        <span class="vendor_seq_no_text hide"><%= text_field_tag :seq_no_vendor, vendor.seq_no  %></span>
        <span class="vendor_seq_no_text hide"><%= link_to 'Set', 'javascript:void(0)' ,class: 'btn btn-primary set_seq_no_btn'%></span>
    </td>
    <td><%= vendor.try(:city).try(:name) %></td>
    <td><%= vendor.try(:area).try(:name) %></td>
    <td>
        <div class="btn-group">
            <%= link_to edit_vendor_path(vendor), remote: true,class: 'btn btn-primary' do %>
            	<i class="icon_pencil"></i>
            <% end %>
            <%= link_to vendor_path(vendor), method: :delete, remote: true, class: 'btn btn-danger' do %>
            	<i class="icon_close_alt2"></i>
            <% end %>
        </div>
    </td>
</tr>