<tr class="tr_<%= feedback.id %>">
    <td><%= feedback.first_name %></td>
    <td><%= feedback.last_name %></td>
    <td><%= feedback.mobile %></td>
    <td><%= feedback.email %></td>
    <td><%= feedback.msg %></td>
</tr>