<section id="container" class="">
    <%= render 'layouts/admin_header' %>
    <%= render 'layouts/admin_side_bar' %>
    <section id="main-content">
        <section class="wrapper">            
			<div class="row">
				<div class="col-lg-12">
					<h3 class="page-header"><i class="fa fa-laptop"></i> Dashboard</h3>
					<ol class="breadcrumb">
						<li><i class="fa fa-home"></i><%= link_to "Home", root_path %></li>
						<li><i class="fa fa-laptop"></i>Dashboard</li>						  	
					</ol>
				</div>
			</div>
              
            <div class="row">
				<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
					<div class="info-box brown-bg">
						<i class="fa fa-thumbs-o-up"></i>
						<div class="count"><%= @booking_count %></div>
						<div class="title">Booking</div>						
					</div><!--/.info-box-->			
				</div><!--/.col-->	
				
				<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
					<div class="info-box dark-bg">
						<i class="fa fa-shopping-cart"></i>
						<div class="count"><%= @order_count %></div>
						<div class="title">Order</div>						
					</div><!--/.info-box-->			
				</div><!--/.col-->
			
			</div><!--/.row-->
	    </section>
	</section>
</section>